html {
  text-align: center;
  font-family: 'Flamenco', cursive;
  font-weight: bold;
}

.bar-code-title {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 5em;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 3em;
}

p {
  font-size: 2em;
}

.obs {
  font-size: 1em;
  font-style: italic;
}

input {
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

button {
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

section {
  height: 100vw;
}

#cipher-or-decipher {
  margin-top: 25%;
}