html {
  text-align: center;
  font-family: 'Flamenco', cursive;
  color: rgb(26, 8, 2);
  font-weight: bold;
  background: url(img/pawel-czerwinski-1144671-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Navbar
---------------------*/
header {
  position: fixed;
  top: 0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(26, 8, 2, 0.8);
}

nav li {
  padding: 10px;
}

nav a {
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(196, 194, 190);
}

nav a:hover {
  color: rgb(145, 145, 145);
}
/*----------------------------*/

.bar-code-title {
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 5em;
}

#home {
  padding-top: 10%;
  height: 100vw;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 3em;
  font-weight: bold;
}

p {
  font-size: 2em;
}

input, button {
  font-size: 16px;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: rgb(196, 194, 190);
  color: rgb(26, 8, 2);
}

#encode, #decode {
  margin-top: 20%;
}

#instructions {
  margin-top: 20%;
  padding-top: 3%;
}


#instructions ul {
  list-style: none;
  text-align: right;
  margin: 20px;
}


#instructions li {
  font-size: 1.2em;
  padding: 20px;
  width: 50%;
  margin-left: auto;
}

#instructions h2, h3 {
  font-size: 2.1em;
  text-align: right;
  margin-right: 30px;
  margin-left: auto;

}

@media (max-width: 570px) {
  nav a {
    text-decoration: none;
    font-size: 1.5em;
  }

  p {
    font-size: 1.2em;
  }

  input {
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
  }
  
  button {
    font-size: 1em;
  }

  .bar-code-title {
    font-size: 4em;
    line-height: 1.2em;
  }

  #home {
    margin-top: 30%;
    height: 100vh;
    width: 100vw;
    padding-top: 20%;
  }

  #encode, #decode {
    margin-top: 100%;
    padding-top: 10%;
    height: 100vh;
    width: 100vw;
  }

  #instructions {
    margin-top: 100%;
    padding-top: 10%;
    width: 100vw;
  }

  #instructions li {
    padding: 5px;
  }
}